apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: vault

resources:
  - namespace.yaml
  - init-script.yaml
  - vault-helm-release.yaml

components:
  - ../../../registry-creds
